<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration >
	
	<!-- 别名 -->
	<typeAliases >
		<typeAlias type ="com.zyfx.core.bbs.member.model.Member" alias ="Member" />
	</typeAliases >
	
	<plugins>
		<!-- 上线时关闭，调试的时候打印SQL使用。插件顺序不要调换 -->
		<plugin interceptor="com.zyfx.core.framework.common.utils.SQLInterceptor"/>
		<plugin interceptor="com.zyfx.core.framework.intercept.PaginationInterceptor"> 
			<!-- 指定数据库分页方言Dialect, 其它方言:OracleDialect,SQLServerDialect,SybaseDialect,DB2Dialect,PostgreSQLDialect,MySQLDialect,DerbyDialect--> 
			<property name="dialectClass" value="cn.org.rapid_framework.jdbc.dialect.MySQLDialect"/> 
		</plugin>  
	</plugins>
	
</configuration > 